@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Shopping Carrt Page";
}

@*<script src="~/js/jquery.min.js"></script>*@
@*<script>
        $(document).ready(function () {

        });
    </script>*@
@using Microsoft.AspNetCore.Identity
@using Web_Shoe_PTWeb.Areas.Identity.Data

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<div id="templatemo_content">

    @model Web_Shoe_PTWeb.Models.CartItem
    <div class="content_section">
        <h2>Shopping Cart Page</h2>

        <table id="customers">
            <thead class="thead-dark">
                <tr>
                    @*<th scope="col">#</th>*@
                    <th scope="col">Name</th>
                    <th scope="col">Image</th>
                    <th scope="col">Price</th>
                    <th scope="col">Promation Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Sub Total</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @if (ViewBag.cart != null && ViewBag.cart.Count > 0)
                {
                    //int STT = 0;

                    @foreach (var item in (ViewBag.cart as List<CartItem>))
                    {
                        string txt_class = "quantity_" + item.Product.ProductId;
                        //STT++;
                        //int total = (int)item.Product.Price * (int)item.Amount;

                        <tr>
                            @*<th scope="row">1</th>*@
                            <td>@item.Product.Name</td>
                            <td><img src="@item.Product.ImageUrl" width="60" /> </td>
                            <td>$@item.Product.Price.00</td>
                            <td>$@item.Product.PromationPrice.00</td>
                            <td>
                                @*<input asp-for="@item.Amount" id="@($"quantity-{item.Product.ProductId}")" />*@
                                <input type="number" value="@item.Amount" class="@txt_class" min="1" max="@item.Product.Quanity">
                            </td>
                            <td>$@item.TotalMoney.00</td>
                            <td><a asp-controller="ShoppingCart" asp-action="Remove" asp-route-id="@item.Product.ProductId">Remove</a></td>
                            <td>


                                @*<button class="cartItem"
                                            data-Amount="@item.Amount"
                                            data-Id="@item.Product.ProductId">

                                        Cập nhật
                                    </button>*@

                                <a href="" data-Id="@item.Product.ProductId" class="updateCart">Update</a>
                            </td>

                            @*<td><input type="button"
                                           value="update"
                                           class="updateCart"
                                           data-amount="@item.Amount"
                                           data-mahh="@item.Product.ProductId"
                                           data-dongia="@item.Product.PromationPrice" />
                                </td>*@
                        </tr>
                    }
                }


            </tbody>
        </table>
        <br>
        <p><span style="font-weight:bold">Total Money:</span>  $@ViewBag.total.00</p>

        <br>
        <a asp-controller="home" asp-action="index">Continue Shopping</a>
        <br>
        @if (SignInManager.IsSignedIn(User))
        {
            <a href="/checkout">Thanh Toán</a>
        }
        else
        {
            <a href="/User/Login?returnUrl=/checkout">Thanh Toán</a>
        }

    </div>
</div>




@section Scripts{
    <script>

        $(document).ready(function () {
            $(function () {
                function loadHeaderCart() {
                    $("#numberCart").load("/AjaxContent/NumberCart");
                }
                $(".removecart").click(function () {
                    var productId = $(this).attr("data-mahh");
                    $.ajax({
                        url: "/ShoppingCart/remove",
                        type: "POST",
                        data: {
                            Id: productId
                        },
                        success: function (result) {
                            if (result.success) {
                                loadHeaderCart();
                                window.location = 'Index';
                            }
                        },
                        error: function (rs) {
                            alert("Remove Cart Error!");
                        },
                    })
                })
                $(".updateCart").click(function () {
                    //event.preventDefault();
                    var productId = $(this).attr("data-Id");
                    var quantity = $(".quantity_" + productId).val();

                    $.ajax({
                        url: "@Url.Action("Update", "ShoppingCart")",
                        type: "PUT",
                        //dataType: "JSON",
                        data: {
                            Id: productId,
                            Amount: quantity
                        },
                        success: function (result) {
                            window.location.href = '@Url.RouteUrl("cart")';
                            console.log(result);
                        },
                        error: function (result) {
                            console.log(result);
                            window.location.href = '@Url.RouteUrl("cart")';
                        },



                    })
                });

            });


        })
    </script>
}

