@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Shopping Carrt Page";
}
@using Microsoft.AspNetCore.Identity
@using Web_Shoe_PTWeb.Areas.Identity.Data

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<div id="templatemo_content">

    @model Web_Shoe_PTWeb.Models.CartItem
    <div class="content_section">
        <h2>Shopping Cart Page</h2>

        <table id="customers">
            <thead class="thead-dark">
                <tr>
                    @*<th scope="col">#</th>*@
                    <th scope="col">Name</th>
                    <th scope="col">Image</th>
                    <th scope="col">Price</th>
                    <th scope="col">Promation Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Sub Total</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @if (ViewBag.cart != null && ViewBag.cart.Count > 0)
                {
                    @foreach (var item in (ViewBag.cart as List<CartItem>))
                    {
                        string txt_class = "quantity_" + item.Product.ProductId;

                        <tr>
                            <td>@item.Product.Name</td>
                            <td><img src="@item.Product.ImageUrl" width="60" /> </td>
                            <td>$@item.Product.Price.00</td>
                            <td>$@item.Product.PromationPrice.00</td>
                            <td>
                                <input type="number" value="@item.Amount" class="@txt_class" min="1" max="@item.Product.Quanity">
                            </td>
                            <td>$@item.TotalMoney.00</td>
                            <td><a asp-controller="ShoppingCart" asp-action="Remove" asp-route-id="@item.Product.ProductId">Remove</a></td>
                            <td>
                                <a href="" data-Id="@item.Product.ProductId" class="updateCart">Update</a>
                            </td>
                        </tr>
                    }
                }


            </tbody>
        </table>
        <br>
        <p style="font-size: 15px"><span style="font-weight:bold; font-size:15px">Total Money:</span>  $@ViewBag.total.00</p>

        <br>
        <div style="display: flex; justify-content: space-between">
            <a style="color:white" class="buttonBackShopping" asp-controller="home" asp-action="index"><span>Continue Shopping</span></a>
            <br>
            @if (SignInManager.IsSignedIn(User))
            {
                <a style="color:white" class="button" href="/checkout"><span>Checkout</span></a>
            }
            else
            {
                <a style="color:white" class="button" href="/User/Login?returnUrl=/checkout"><span>Checkout</span></a>
            }
        </div>
       

    </div>
</div>




@section Scripts{
    <script>

        $(document).ready(function () {
            $(function () {
                function loadHeaderCart() {
                    $("#numberCart").load("/AjaxContent/NumberCart");
                }
                $(".removecart").click(function () {
                    var productId = $(this).attr("data-mahh");
                    $.ajax({
                        url: "/ShoppingCart/remove",
                        type: "POST",
                        data: {
                            Id: productId
                        },
                        success: function (result) {
                            if (result.success) {
                                loadHeaderCart();
                                window.location = 'Index';
                            }
                        },
                        error: function (rs) {
                            alert("Remove Cart Error!");
                        },
                    })
                })
                $(".updateCart").click(function (event) {
                    event.preventDefault();
                    var productId = $(this).attr("data-Id");
                    var quantity = $(".quantity_" + productId).val();
                    $.ajax({
                        url: "@Url.Action("Update", "ShoppingCart")",
                        type: "PUT",
                        dataType: "JSON",
                        data: {
                            Id: productId,
                            Amount: quantity
                        },
                        success: function (result) {
                            //window.location = 'Index';
                            //location.reload();
                            window.location.href = '@Url.RouteUrl("cart")';
                            console.log(result);
                        },
                        error: function (result) {
                            console.log(result);
                            window.location.href = '@Url.RouteUrl("cart")';
                        },



                    })
                });

            });


        })
    </script>
}

